html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: white;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.page {
    width: 100%;
    height: 100%;
    margin: 0;
}

button {
    border: 0;
}

.button {
    border-radius: 20%;
}

#page_top {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#top_start {
    font-size: 2em;
}

#page_quiz {
    display: none;
}

#quiz_stop {
    color: white;
    background-color: red;
}
